/* This stylesheet defines the styling of our landing page, index.html */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  height: 100vh;
}

nav,
.sub-nav {
  display: flex;
  background-color: #1f2937;
  color: white;
  padding: 20px 150px;
}

.button-signup {
  color: white;
  background-color: #3882f6;
  width: 140px;
  height: 40px;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
}

.logo {
  /* margin: 10px; */
  font-size: 24px;
  font-weight: 700;
}
.links {
  /* margin-right: 150px; */
  margin-left: auto;
}
ul {
  display: flex;
  padding: 0px;
  margin: 10px;
  gap: 20px;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: white;
}

.sub-nav {
  padding: 150px;
}

.sub-nav-content {
  display: flex;
  gap: 20px;
}

.sub-nav-dialog {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

.sub-nav-dialog-text {
  color: #bfbfbf;
}

.sub-nav-dialog .button-signup {
  border-style: none;
}

.sub-nav-dialog-header {
  font-weight: 700;
  font-size: 42px;
}


.sub-nav-img {
  display: flex;
  background-color: #6d747d;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  margin-left: auto;
}

.content-cards {
  display: flex;
  flex-direction: column;
  padding: 20px 200px 100px;
}

.content-cards-header {
  font-size:37px;
  font-weight: 700;
  text-align: center;
  padding: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
}

.card-text {
  text-align: center;
  color: #616a77;
  /* width: 175px; */
}

.card-img {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 20px;
  border-color: #3882f6;
  width: 175px;
  height: 175px;
}

.content-quote {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e5e7eb;
  font-weight: 300;
  font-style: italic;
  padding: 100px 375px;
  font-size: 30px;
}

.content-quote-author {
  font-weight: 700;
  margin-left: auto;
  font-style: normal;
  font-size: 24px;
}

.content-signup {
  display: flex;
  margin: 200px;
  padding: 50px 150px;
  background-color: #3882f6;
  border-radius: 10px;
  color: white;
  gap: 20px;
}

.box-signup {
  display: flex;
  flex-direction: column;
}

.box-signup-header {
  font-weight: 700;
  font-size: 24px;
}

.box-text {
  color: #e5e7eb;
}

.content-signup button {
  margin-left: auto;
}

footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 40px;
}
